@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@using Microsoft.Fx.Portability.ObjectModel
@model IEnumerable<DiagnosticAnalyzerInfo>

<table class="table table-responsive table-bordered table-striped">
    <thead id="diagnosticAnalyzersTableHeader">
        <tr class="status-table-header">
            <th>
                <a href="javascript:tableSort($('#diagnosticAnalyzersTableHeader'), $('#diagnosticAnalyzersTableBody'), 0, true)">Id</a>
            </th>
            <th>
                <a href="javascript:tableSort($('#diagnosticAnalyzersTableHeader'), $('#diagnosticAnalyzersTableBody'), 1, false)">Name</a>
            </th>
        </tr>
    </thead>

    <tbody id="diagnosticAnalyzersTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnalyzerName)
                </td>
            </tr>
        }
    </tbody>
</table>
