@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@using Microsoft.Fx.Portability
@model IEnumerable<BreakingChange>

<table class="table table-responsive table-bordered table-striped">
    <thead id="breakingChangesTableHeader">
        <tr class="status-table-header">
            <th>
                <a href="javascript:tableSort($('#breakingChangesTableHeader'), $('#breakingChangesTableBody'), 0, true)">Id</a>
            </th>
            <th>
                <a href="javascript:tableSort($('#breakingChangesTableHeader'), $('#breakingChangesTableBody'), 1, false)">Title</a>
            </th>
        </tr>
    </thead>

    <tbody id="breakingChangesTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
        }
    </tbody>
</table>

