@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@model IEnumerable<SelectListItem>

@{
    ViewBag.Title = "Tools Coverage";
}

<div class="jumbotron">
    <h2>.NET Compatibility Diagnostic Tools Coverage</h2>
    @Html.Label("Available Data:")
    @Html.DropDownList("AvailableChoices", Model)
</div>

<div id="ComponentPlaceHolder" class="container-fluid">
</div>

<script>
    $(document).ready(function () {
        refreshChart($('#ComponentPlaceHolder'), $('#AvailableChoices').val());

        $("#AvailableChoices").change(function () {
            refreshChart($('#ComponentPlaceHolder'), $('#AvailableChoices').val());
        });
    });
</script>
