@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@model IEnumerable<SelectListItem>
<div class="jumbotron">
    <h1>.NET API Data</h1>
    @Html.Label("Available Charts:")
    @Html.DropDownList("AvailableChoices", Model)
</div>

<div id="ComponentPlaceHolder" class="container-fluid">
</div>

<script>
    $(document).ready(function () {
        refreshChart($('#ComponentPlaceHolder'), $('#AvailableChoices').val());

        $("#AvailableChoices").change(function () {
            refreshChart($('#ComponentPlaceHolder'), $('#AvailableChoices').val());
        });
    });
</script>
