@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@using Microsoft.Fx.Portability
@model IEnumerable<KeyValuePair<BreakingChangeAnalyzerStatus, int>>

<div style="width:40%">
    <table class="table table-responsive table-bordered">
        <thead id="keyValuePairTableHeader">
            <tr class="status-table-header">
                <th>
                    <a href="javascript:tableSort($('#keyValuePairTableHeader'), $('#keyValuePairTableBody'), 0, false)">Name</a>
                </th>
                <th>
                    <a href="javascript:tableSort($('#keyValuePairTableHeader'), $('#keyValuePairTableBody'), 1, true)">Value</a>
                </th>
            </tr>
        </thead>

        <tbody id="keyValuePairTableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot id="tableFooter">
            <tr class="status-table-footer">
                <td>Total</td>
                <td>@Model.Sum(v => v.Value)</td>
            </tr>
        </tfoot>
    </table>
</div>
