@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@{
    ViewBag.Title = "Diagnostic Tools";
}

<div class="jumbotron">
    <h2>.NET Compatibility Diagnostic Tools</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <p>
            This site provides information about the available compatibility diagnostic tools. These tools are helpful in identifying potential 
            <a href="http://msdn.microsoft.com/en-us/library/dn458358(v=vs.110).aspx" target="_blank">.NET Framework Compatibility</a> 
            issues when moving from one .NET Framework version to another. Below are the links to the tools.
        </p>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tool</th>
                        <th>Download location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Console Application</td>
                        <td><a href="https://github.com/Microsoft/dotnet-apiport/releases" target="_blank">GitHub Releases</a></td>
                    </tr>
                    <tr>
                        <td>VS Plugin</td>
                        <td><a href="http://go.microsoft.com/fwlink/?LinkID=507467&clcid=0x409" target="_blank">The Visual Studio Gallery</a></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p>
            If you want to learn more about these tools, you should check out this <a href="https://channel9.msdn.com/Blogs/Seth-Juarez/A-Brief-Look-at-the-NET-Portability-Analyzer">Channel 9 video</a>:
        </p>
        <p>
            <iframe src="https://channel9.msdn.com/Blogs/Seth-Juarez/A-Brief-Look-at-the-NET-Portability-Analyzer/player#ccLang=en" width="960" height="540" allowFullScreen frameBorder="0"></iframe>
        </p>
    </div>
</div>
