@*  Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>.NET Portability</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <p>
            The goal of this site is to provide information about the .NET API usage data that we collect using the API Portability Analyzer tool. This tool tells you which APIs are supported on which .NET targets, and helps us understand which APIs are being used by developers.  To use the tool, please download one of the following:
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Tool</th>
                    <th>Download location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Console Application</td>
                    <td><a href="http://www.microsoft.com/en-us/download/details.aspx?id=42678">Microsoft Download Center</a></td>
                </tr>
                <tr>
                    <td>VS Plugin</td>
                    <td><a href="http://go.microsoft.com/fwlink/?LinkID=507467&clcid=0x409">The Visual Studio Gallery</a></td>
                </tr>
            </tbody>
        </table>
        <p>Please let us know of any features or feedback that you have by contacting us at the <a href="mailto:NETAPIPort@Microsoft.com">.NET Team</a>.</p>
    </div>
</div>
